@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-wave {
  /* Creamos un gradiente que sea el doble de ancho que el contenedor */
  /* background: linear-gradient(270deg, #1e3a8a, #3b82f6, #1e3a8a); */
  /* Segunda prueba de background */
  /* background: linear-gradient(270deg, #1f366a, #3f75bd, #1f366a); */
  /* Tercera prueba de background */
  background: #1F366A;
  background: linear-gradient(90deg,rgba(31, 54, 106, 1) 0%, rgba(63, 117, 189, 1) 50%, rgba(241, 196, 67, 1) 100%);
  background-size: 200% 200%;
  animation: wave-animation 8s ease infinite;

}

.background-gradient-electric {
  background: #1F366A;
  background: linear-gradient(90deg,rgba(31, 54, 106, 1) 0%, rgba(63, 117, 189, 1) 50%, rgba(241, 196, 67, 1) 100%);
  background-size: 100% 100%;

}